*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

html{
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body{
    background: var(--background);
}

.darken{
  transition: 0.25s;
  cursor: pointer;
}

.darken:hover{
  filter: brightness(40%);
}
